<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--    укажем где искать компоненты-->
<!--    <context:component-scan base-package="ru.itis.game"/>-->

<!--    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
<!--        <constructor-arg name="dataSource" ref="dataSource"/>-->
<!--    </bean>-->

<!--    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">-->
<!--        <constructor-arg name="configuration" ref="hikariConfig"/>-->
<!--    </bean>-->

<!--    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">-->
<!--        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/javaitis13"/>-->
<!--        <property name="username" value="ivan"/>-->
<!--        <property name="password" value="postgres"/>-->
<!--        <property name="driverClassName" value="org.postgresql.Driver"/>-->
<!--        <property name="maximumPoolSize" value="50"/>-->
<!--    </bean>-->

</beans>